* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: lightgray;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: radial-gradient(
    circle at 87.5% 12.5%,
    #ffb1a5 0,
    #ffa5ab 10%,
    #ff98af 20%,
    #ff8caf 30%,
    #ff7fac 40%,
    #f171a4 50%,
    #d1649a 60%,
    #b55a91 70%,
    #9c5289 80%,
    #874b81 90%,
    #74477b 100%
  );
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 35px;
  width: 30vw;
  margin: auto;
  text-align: center;
  color: blue;
}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

footer {
  text-align: center;
  padding-top: 130px;
  color: blue;
  font-size: 20px;
}
